<div id="header" style="text-align:center">
    <h1>
      Welcome To BoardWrk
    </h1>

    <h2>
        Our Mission
    </h2>
    <h3>
    To help people everywhere find a job and company they love.
    </h3>
    
    <h4>
        About BoardWrk
    </h4>
    <h5> 
      BoardWrk is one of the world's largest job and recruiting sites. 

      Built on the foundation of increasing workplace transparency, 
      BoardWrk offers millions of the latest job listings,
      combined with a growing database of company reviews, 
      CEO approval ratings, salary reports, interviews and questions, 
      benefits reviews, office photos, and more.  
      Unlike other job sites, all of this information is shared by 
      those who know a company best — the employees. 
      In turn, job seekers on BoardWrk are well-researched 
      and more informed about the jobs and companies 
      they apply to and consider joining. This is why 
      thousands of employers across all industries and sizes 
      turn to BoardWrk to help them recruit and hire quality 
      candidates at scale who stay longer. 
      BoardWrk is available anywhere via its mobile apps.    
    </h5>

    
  </div>


