<h2>Job Details</h2> 

<hr/>
<div *ngIf="Job-Details">
  <div>
    <label><b>Salary </b></label> {{jobs.Salary}}
  </div>
  <div>
    <label><b>Position </b></label> {{jobs.Position}}
  </div>
  <div>
    <label><b>Company </b></label> {{jobs.Company}}
  </div>  
  <div>
      <label><b>Description </b></label> {{jobs.Description}}
    </div>
    <div>
      <label><b>Location </b></label> {{jobs.Location}}
    </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Jobs List</button><br>