<!-- <!DOCTYPE html>
<header>

</header>
<h3>Create Group</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">GroupsName</label>
      <input type="text" class="form-control" id="GroupsName" required [(ngModel)]="group.GroupsName" name="GroupsName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="Description" required [(ngModel)]="group.Description" name="Description">
    </div>

    <div class="form-group">
      <label for="name">Location</label>
      <input type="text" class="form-control" id="Location" required [(ngModel)]="group.Location" name="Location">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div> -->